<script type="text/javascript">
	
	$('.myMenu > li').bind('mouseover', openSubMenu);
	$('.myMenu > li').bind('mouseout', closeSubMenu);
		
	function openSubMenu() {
		$(this).find('ul').css('visibility', 'visible');	
	};
	
	function closeSubMenu() {
		$(this).find('ul').css('visibility', 'hidden');	
	};
	
</script>

				
	<div class="subheader">
	
		<div class="clearspace"></div>
		
		<div class="headertitletext">
			<a href="index.html">
				<img src="images/header/nome.png" style="margin-left: 15%; width: 44%; heigth: 100%;"/>
			</a>
			
			<a href="novidades.html" style="text-decoration : none; color: #00a3b1; float: right; margin-right: 2%;font-size: 17px;"> Novidades </a>
			<a href="https://www.facebook.com/gabinetevitamove">
				<img src="images/header/facebook.png" style="float: right; height: 30px; margin-right: -8%; margin-top: 6%;">
			</a>
		</div>
		
	</div>
	

	
	<div class="clearspace"></div>
	
	<div class="headertitles">
		
		<ul class="myMenu">
			<li><a href="index.html">Início</a></li>
			<li><a href="quemSomos.html">Quem Somos</a></li>
			<li><a href="missao.html">Missão</a></li>
			<li><a href="servicos.html">Serviços</a>
				<ul>
					<li><a href="fisioosteo.html">Fisioterapia / Osteopatia</a></li>
					<li><a href="classesmovimento.html">Classes de Movimento</a></li>
					<li><a href="bemestar.html">Bem-Estar</a></li>
					<li><a href="servicosdomicilio.html">Domicilio</a></li>
				</ul>
			</li>
			<li><a href="projectos.html">Projetos</a>
				<ul>
					<li><a href="empresas.html">VitaMove Empresas</a></li>
					<li><a href="senior.html">VitaMove Sénior</a></li>
					<li><a href="junior.html">VitaMove Júnior</a></li>
				</ul>
			</li>
			<li><a href="acordos.html">Acordos</a></li>
			<li><a href="contacts.html">Contactos</a>
				<ul>
					<li><a href="comochegar.html">Como Chegar</a></li>
					<li><a href="sugestoes.html">Sugestões</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	
	<div class="clearspace"></div>